<h1>Greetings!</h1>
<% if user_signed_in? %>
  <% form_for current_user.picture, :html => { :multipart => true } do |f| %>
  <p>
    <b> Picture </b><br/>
    <%= f.file_field :pic %>
  </p>

  </br>
  
  <%end %>
  <%= image_tag current_user.picture.pic.url %>
<% end %>