<h1>Greetings!</h1>
<% if user_signed_in? %>
  <% form_for current_user.picture, :html => { :multipart => true } do |f| %>
  <p>
    <b> Picture </b><br/>
    <%= f.file_field :pic %>
  </p>

  </br>
  
  <%end %>
    <%current_user.pictures.each do |image| %>
      <tr>
        <td><%= image_tag image.pic.url %></td>
      </tr>
    <%end%>
  
<% end %>