<h1>Greetings!</h1>

  <%= form_for @picture, :html=>{ :multipart=> true}  do |f| %>
  <div class="field">
    <%= f.label :picture %>
    <%= file_field(:pic, class: 'file_input') %></br>
    <%= f.submit %>
  </div>
  <% end %>