<%= form_for @picture, :html => { :multipart => true }   do |f| %>
  <div class="field">
    <%= f.label :picture %>
    <%= f.file_field :pic, multiple: true%></br>
    <%= f.submit %>
  </div>
<% end %>