<%@pictures.each do |picture| %>
  <div class="col-xs-6 col-md-3">
    <a href="<%=picture.pic.url%>" class="thumbnail">
      <%= image_tag(picture.pic.url, class: "img-responsive")%>
    </a>
  </div>
<%end%>
